{% extends "layout.html" %}
{% block title %}
断桥铝门窗概览_19分贝
{% endblock %}
{% block keywords %}
19分贝 断桥铝门窗 概览 隔音 保温 隔热 环保
{% endblock %}
{% block description %}
19分贝断桥铝门窗，具有隔音、保温、隔热、环保等特点。
{% endblock %}
{% block content %}

<div id="windowgailan">
    <div class="title_wap">
        <div class="middle">
            <ul>
                <li><a class="bottom" href="/windows/overview">概览</a></li>
                <li><a href="/windows/design">设计</a></li>
                <li><a href="/windows/soundproof">隔音</a></li>
                <li><a href="/windows/keepwarm">保温</a></li>
                <li><a href="/windows/environmental">环保</a></li>
                <li><a href="/windows/parameter">参数</a></li>

            </ul>

            <a href="/windows-buy" class="goumai"></a>
            <a href="{{site.online_service}}" class="zxzx" target="_blank"></a>
        </div>
    </div>
    <div class="di_1">
        <div class="content">

        </div>
    </div>
    <div class="di_2">
        <div class="content">
            <a href="/windows/design"></a>
        </div>
    </div>
    <div class="di_3">
        <div class="content">
            <a href="/windows/keepwarm"></a>
        </div>
    </div>
    <div class="di_4">
        <div class="content">
            <a href="/windows/soundproof"></a>
        </div>
    </div>
    <div class="di_5">
        <div class="content">
            <a href="/windows/environmental"></a>
        </div>
    </div>


</div>
{% endblock %}