{% extends "layout.html" %}
{% block title %}
断桥铝门窗参数_19分贝
{% endblock %}
{% block keywords %}
型材 诺托 丝吉利娅 五金件 钢化 中空玻璃 纱窗 玻璃胶 发泡胶
{% endblock %}
{% block description %}
19分贝断桥铝门窗，配置清晰明了。
{% endblock %}
{% block content %}
<div id="windowcanshu">
    <div class="title_wap">
        <div class="middle">
            <ul>

                <li><a href="/windows/overview">概览</a></li>
                <li><a href="/windows/design">设计</a></li>
                <li><a href="/windows/soundproof">隔音</a></li>
                <li><a href="/windows/keepwarm">保温</a></li>
                <li><a href="/windows/environmental">环保</a></li>
                <li><a class="bottom" href="/windows/parameter">参数</a></li>

            </ul>

            <a href="/windows-buy" class="goumai"></a>
            <a href="{{site.online_service}}" class="zxzx" target="_blank"></a>
        </div>
    </div>


    <div class="canshu">
        <div class="middle"></div>
    </div>
    <div class="canshuneirong">
        <div class="middle">
            <dl class="content_box">
                <dt>
                    <span class="first">名称</span> <span class="second">参数</span>
                </dt>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">铝合金型材</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                型号：65系列/75系列<br/>
                                宽度：65mm/75mm<br/>
                                壁厚：1.6mm/2.0mm<br/>
                                颜色：香槟色、白色等多种颜色可选<br/>

                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">窗五金</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                类型：平开/平开上悬/外开/下悬/推拉<br/>
                                品牌：丝吉利娅/诺托<br/>

                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">门五金</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                类型：内开/外开多点锁<br/>
                                品牌：丝吉利娅/诺托<br/>
                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">玻璃</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                厚度：5mm+20A+5mm双层中空/<br/><span
                                    style="margin-left:50px;">5mm+9A+5mm+9A+5mm三层中空</span><br/>
                                类型：浮法玻璃/钢化玻璃/Low-E玻璃<br/>
                                样式：透明/磨砂/钻石<br/>
                                内嵌：可选装饰条<br/>


                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">密封条</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                材质：三元乙丙耐候密封胶条（EPDM）<br/>
                                颜色：黑色<br/>


                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">隔热条</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                材质：玻璃纤维增强聚酰胺尼龙隔热条（PA66）<br/>
                                颜色：黑哑光色<br/>


                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">纱窗纱门</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                纱窗：上下竖拉式隐形纱窗/金刚网平开纱窗<br/>
                                纱门：左右对拉式纱门/金刚网平开纱门<br/>


                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">玻璃胶</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                类型：门窗专用中性硅酮玻璃胶<br/>
                                品牌：美国道康宁<br/>
                                颜色：黑色/白色/灰色/透明<br/>


                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">发泡胶</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                类型：门窗专用环保聚氨酯发泡剂<br/>
                                品牌：桑莱斯<br/>
                                颜色：白色<br/>

                            </td>
                        </tr>
                    </table>
                </dd>
                <dd>
                    <table width="950">
                        <tr>
                            <td width="450" class="bottom_gray chuizhijuzhong">其他</td>
                            <td width="50"></td>
                            <td width="450" class="bottom_gray">
                                型材包装：防刮擦环保纸保护<br/>
                                五金包装：执手防刮擦双层环保纸保护<br/>
                                19分贝门窗使用说明书<br/>
                                19分贝门窗保修卡<br/>

                            </td>
                        </tr>
                    </table>
                </dd>
            </dl>
        </div>
    </div>

</div>
{% endblock %}