{% extends "layout.html" %}
{% block title %}
阳光房设计_19分贝
{% endblock %}
{% block keywords %}
外形 设计 造型 颜色
{% endblock %}
{% block description %}
19分贝阳光房，设计独到，浑然一体。
{% endblock %}
{% block content %}

<div id="sheji">
    <div class="title_wap">
        <div class="middle">
            <ul>
                <li><a href="/sunroom/overview">概览</a></li>
                <li><a href="/sunroom/vision">愿景</a></li>
                <li><a class="bottom" href="/sunroom/design">设计</a></li>
                <li><a href="/sunroom/performance">性能</a></li>
                <li><a href="/sunroom/material">材料</a></li>
                <li><a href="/sunroom/parameter">参数</a></li>

            </ul>
            <a href="/sunroom-buy" class="goumai"></a>
            <a href="{{site.online_service}}" class="zxzx" target="_blank"></a>
        </div>
    </div>
    <div class="di_1">
        <div class="content">

        </div>
    </div>
    <div class="di_2">
        <div class="content">

        </div>
    </div>
    <div class="di_3">
        <div class="content">

        </div>
    </div>


</div>
{% endblock %}

