{% extends "layout.html" %}
{% block title %}
阳光房概览_19分贝
{% endblock %}
{% block keywords %}
阳光房 花园 露台 造型 设计 防水 保温 隔音 隔热 环保 阳台
{% endblock %}
{% block description %}
19分贝阳光房，具有防水、隔音、保温、隔热、环保等特点。
{% endblock %}
{% block content %}
<div id="gailan">
    <div class="title_wap">
        <div class="middle">
            <ul>
                <li><a class="bottom" href="/sunroom/overview">概览</a></li>
                <li><a href="/sunroom/vision">愿景</a></li>
                <li><a href="/sunroom/design">设计</a></li>
                <li><a href="/sunroom/performance">性能</a></li>
                <li><a href="/sunroom/material">材料</a></li>
                <li><a href="/sunroom/parameter">参数</a></li>

            </ul>

            <a href="/sunroom-buy" class="goumai"></a>
            <a href="{{site.online_service}}" class="zxzx" target="_blank"></a>
        </div>
    </div>
    <div class="di_1">
        <div class="content">
            <a href="/sunroom/vision"></a>
        </div>
    </div>
    <div class="di_2">
        <div class="content">
            <a href="/sunroom/design"></a>
        </div>
    </div>
    <div class="di_3">
        <div class="content">
            <a href="/sunroom/performance"></a>
        </div>
    </div>
    <div class="di_4">
        <div class="content">
            <a href="/sunroom/material"></a>
        </div>
    </div>


</div>
{% endblock %}