{% extends "layout.html" %}
{% block title %}
阳光房性能_19分贝
{% endblock %}
{% block keywords %}
静音 中空 钢化玻璃  密封 防水 漏水 防雨 保温 隔热  隔音 遮阳
{% endblock %}
{% block description %}
19分贝阳光房，具有优良的防水、隔音、隔热等性能。
{% endblock %}
{% block content %}
<div id="xingneng">
    <div class="title_wap">
        <div class="middle">
            <ul>
                <li><a href="/sunroom/overview">概览</a></li>
                <li><a href="/sunroom/vision">愿景</a></li>
                <li><a href="/sunroom/design">设计</a></li>
                <li><a class="bottom" href="/sunroom/performance">性能</a></li>
                <li><a href="/sunroom/material">材料</a></li>
                <li><a href="/sunroom/parameter">参数</a></li>

            </ul>
            <a href="/sunroom-buy" class="goumai"></a>
            <a href="{{site.online_service}}" class="zxzx" target="_blank"></a>
        </div>
    </div>
    <div class="di_1">
        <div class="content">

        </div>
    </div>
    <div class="di_2">
        <div class="content">

        </div>
    </div>
    <div class="di_3">
        <div class="content">

        </div>
    </div>

    <div class="di_4">
        <div class="content">

        </div>
    </div>


</div>
{% endblock %}