{% extends "layout.html" %}
{% block title %}
售后服务_19分贝
{% endblock %}
{% block keywords %}
身 免费 质保 质量 售后 服务 法律
{% endblock %}
{% block description %}
19分贝作为互联网门窗品牌，售后服务系统周到。
{% endblock %}
{% block content %}
        <style>

            .lx_map{ float:right;  width:798px; height:553px; background:url(../img/shouhoufuwu.png)  no-repeat; position:relative;}

        </style>
      <div id="yangguangfangcanshu">
          
          
      
          <div class="canshuneirong">
          	<div class="middle" style="padding-top:42px; padding-bottom:200px;">
                <ul class="lx_tab" style="width:165px;">
                    <li><a href="/price-windows" >价格体系</a></li>
                    <li><a href="/buy-help" >购买流程</a></li>
                    <li><a href="/payment" >支付方式</a></li>
                    <li><a href="#" class="hover">售后服务</a></li>
                </ul>
                
                <div class="lx_map"style="margin-top:-3px;">
                   
                </div>
          	</div>
          </div>
          
      </div>
{% endblock %}