{% extends "layout.html" %}
{% block title %}
购买流程_19分贝
{% endblock %}
{% block keywords %}
咨询 预约 测量  设计 报价 合同 支付 安装 售后
{% endblock %}
{% block description %}
购买19分贝门窗，需遵循一定的购买流程。
{% endblock %}
{% block content %}
<style>

    .lx_map{ float:right;  width:798px; height:1680px; background:url(../img/blue_goumailiucheng.png)  no-repeat; position:relative;}

</style>

      <div id="yangguangfangcanshu">
          
          
      
          <div class="canshuneirong">
          	<div class="middle" style="padding-top:42px; padding-bottom:200px;">
                <ul class="lx_tab" style="width:165px;">
                    <li><a href="/price-windows" >价格体系</a></li>
                    <li><a href="#"  class="hover">购买流程</a></li>
                    <li><a href="/payment" >支付方式</a></li>
                    <li><a href="/after-service">售后服务</a></li>
                </ul>
                
                <div class="lx_map"style="margin-top:-3px;">
                   
                </div>
          	</div>
          </div>
          
      </div>

{% endblock %}