{% extends "layout.html" %}
{% block title %}
购买选择_19分贝
{% endblock %}
{% block keywords %}
选择 断桥铝门窗 阳光房
{% endblock %}
{% block description %}
19分贝提供断桥铝门窗和阳光房的产品和服务。
{% endblock %}
{% block content %}

<div class="index_main"  id="xuanze_wap">
          <div class="right_wap"></div>
          
           <div class="index_main_middle" >
               <div class="xuanze_left">
                    <div class="top1"></div>
                    <div class="middle1"></div>
                    <a href="/windows-buy" class="bottom1">立即购买</a>
               </div>
               <div class="xuanze_right">
                  <div class="top2"></div>
                  <div class="middle2"></div>
                  <a href="/sunroom-buy" class="bottom2">立即购买</a>
               </div>
          </div>
      </div>


{% endblock %}