{% extends "layout.html" %}
{% block title %}
加入我们_19分贝
{% endblock %}
{% block keywords %}
招聘 客服 网络销售 新媒体运营 财务 材料工程师
{% endblock %}
{% block description %}
欢迎加入19分贝团队。
{% endblock %}
{% block content %}

<style>
.lx_map{ float:right; margin-right:10px; width:747px; height:3138px; background:url(../img/jiaruwomen.png) no-repeat; position:relative;}
.lx_map .chakanbaidu{ display:block; width:593px; height:79px; background:url(../img/yingpingangwei.png) no-repeat; position:absolute; left:69px; bottom:65px;}
</style>

<div id="yangguangfangcanshu">
          
          
      
          <div class="canshuneirong"  style=" background:#f7f7f7;">
          	<div class="middle" style="padding-top:42px; padding-bottom:200px;">
                <ul class="lx_tab" >
                    <li><a href="/about">关于19分贝</a></li>
                    <li><a href="#" class="hover">加入我们</a></li>
                    <li><a href="/contactus" >联系我们</a></li>
                </ul>
                
                <div class="lx_map"style="margin-top:-5px;">
                    <a href="#" class="chakanbaidu"></a>
                </div>
          	</div>
          </div>
          
      </div>
{% endblock %}