{% extends "layout.html" %}
{% block title %}
支付方式_19分贝
{% endblock %}
{% block keywords %}
支付宝 担保交易  在线支付 定金
{% endblock %}
{% block description %}
购买19分贝门窗和阳光房，可通过官网和淘宝店铺在线担保交易支付货款。
{% endblock %}
{% block content %}
<style>

    .lx_map{ float:right;  width:798px; height:613px; background:url(../img/goumaizhifubao.png)  no-repeat; position:relative;}

</style>

<div id="yangguangfangcanshu">
          
          
      
          <div class="canshuneirong">
          	<div class="middle" style="padding-top:42px; padding-bottom:200px;">
                <ul class="lx_tab" style="width:165px;">
                    <li><a href="/price-windows" >价格体系</a></li>
                    <li><a href="/buy-help">购买流程</a></li>
                    <li><a href="#" class="hover">支付方式</a></li>
                    <li><a href="/after-service">售后服务</a></li>
                </ul>
                
                <div class="lx_map"style="margin-top:-3px;">
                   
                </div>
          	</div>
          </div>
          
      </div>

{% endblock %}