{% extends "layout.html" %}
{% block title %}
价格体系_19分贝
{% endblock %}
{% block keywords %}
断桥铝门窗 阳光房 价格  报价 断桥铝 五金 玻璃 隐形纱窗
{% endblock %}
{% block description %}
19分贝门窗和阳光房产品，价格透明无增项。
{% endblock %}
{% block content %}
        <style>
            .lx_map{ float:right;  width:798px; height:1619px; background:url(../img/anli.png) center 4px  no-repeat; position:relative;}
        </style>
      
      <div id="yangguangfangcanshu">
          <div class="canshuneirong">
          	<div class="middle" style="padding-top:42px; padding-bottom:200px;">
                <ul class="lx_tab" style="width:165px;">
                <li><a href="/price-windows" class="hover">价格体系</a></li>
                    <li><a href="/buy-help" >购买流程</a></li>
                    <li><a href="/payment" >支付方式</a></li>
                    <li><a href="/after-service" >售后服务</a></li>
                </ul>
                
                <div class="lx_map"style="margin-top:-3px;">
                    <a href="/price-windows" class="class_1"></a>
                    <a href="/price-sunroom" class="class_2"></a>
                    <a href="#" class="class_3"></a>
                </div>
          	</div>
          </div>
          
      </div>

{% endblock %}
